
<div class="NavBar-title">
    <button class="NavButton"; onclick="document.location='/'">Home</button>
    <button class="NavButton"; onclick="document.location='/emotedle'">Emotedle</button>
</div>
<div class="NavBar-pages">
    <button class="NavButton"; onclick="document.location='/mcsr'">MCSR</button>
    <button class="NavButton"; onclick="document.location='/chatutils'">Chat Utils</button>
    <button class="NavButton"; onclick="document.location='/thedump'">The Dump</button>
    <button class="NavButton"; onclick="document.location='/about'">About</button>
</div>
